/*header*/
.home_header{
    background-color: var(--amarillo);
    font-size: 12px;
}
.home_header-encabezado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.home_header-logo{
    width:45%
}
.home_header-buscador{
    display: flex;
    align-items: center; 
    width:45%
}
.home_header-form{ 
    position: relative;
    margin: 0 auto;
}
.home_header-form input{   
    width: 149px;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
.home_header-form button{
    position: absolute;
    right: 0;
    font-size: 16px;
    background: none;
    border: none;
    padding: 5px;
}
.home_header-frase{
    display: flex;
    text-align: center; 
    padding-bottom: 15px;
    margin: 0 auto;
}


.home_header-nav-menu {
    height: 0;
    overflow: hidden;
    margin: 1rem;
}
.showMenu{
    height: auto;
}
.home_header-nav-banner{ 
    display: block;
    width: 100%;
}
.home_header-burger-menu{ 
    display: block;
    color: var(--grisClaro);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
}
.home_header-burger-menu i{
    background-color: var(--celeste);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}
@media(min-width: 768px){

.home_header-encabezado{
    align-items: center;
}
.home_header-logo{
    width:30%
}
.home_header-buscador{
    width:30% 
}
.home_header-frase{
    width:30%;
}
.home_header-burger-menu{
    display: none;
}
.home_header-nav-menu {
    height: auto;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.home_header-nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
}

@media(min-width: 769px) {
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .home_header-nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
    .home_header-nav-menu ul {
        padding: 0px 0px 10px 10px;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }    
    }