/*main*/
.home_main {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    background-color: var(--grisClaro);
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.home_main h1 {
    font-size: 24px;
    padding: 15px;
}
.home_main section{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.home_main-article {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: white;
}
.home_main-article-descripcion {
    position: relative;
    border-top: solid 1px var(--grisClaro);
    padding: 15px;
    box-sizing: border-box;
}
.home_main-article-descripcion p {
    color: var(--verde); 
}
.home_main-article-descripcion i{
    display: block;
    font-size: 15px;
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--verde);
    border: var(--verde) 1px solid;
}
.home_main-article-descripcion i:hover{
    animation: rotate 1s;
}
@keyframes rotate{
    0%{
        transform:rotate(0);
    }
    50%{
        transform:rotate(-90deg);
    }
    100%{
        transform:rotate(0);
    }
}
.home_main-article-descripcion-text{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.home_main-article-descripcion h3{
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}
.home_main-article:hover h3{
    height: 20px;
}
.home_main-article img {
    width: 100%;
}

/*footer*/
.home_footer {
    text-align: center;
}

.home_footer i {
    color: var(--celeste);
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 50px;
}

.home_footer-copyright {
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 20px;
}

/*tablet*/
@media(min-width: 481px) {

    .home_main-article {
        width: 45%;
        transition: all 1s ease;
    }
    .home_main-article:hover {
        box-shadow: 0px 0px 20px rgb(100, 100, 100);
    } 
}

@media(min-width: 769px) {

    /*main*/
    .home_main-article {
        width: 22%;
    }
    .home_main section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        align-items: flex-start;
    }
    .home_footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    .home_footer section{
        width:30%;
    }
}