.loguin_main{
    background-color: var(--grisClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loguin_main-form{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 20px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    gap: 1em;
}
.loguin_main-form label{
    width: 46%;
    text-align: center; 
}
.loguin_main-form input{
    width: 80%;
}

.loguin_main-form input{
    border: 2px solid var(--celeste);
    border-radius: 10px;
    height: 30px;
    background-color: var(--grisClaro);
}
.loguin_main-form input:hover{
    border: 2px solid var(--amarillo);
}
.loguin_main-form-enviar button{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 6px;
    border: solid 2px var(--verde);
    border-radius:10px;
    transition: all 1s ease;
}
.loguin_main-form-enviar button:hover{
    background-color:var(--verde);
}
@media(min-width: 610px){
    .loguin_main-form{
        margin: 30px ;
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .loguin_main-form input{
        width: 46%;
    }    
    .loguin_main-form-enviar{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 6px 0;
    }
    .loguin_main-form-enviar button{
        padding: 6px 30px;
    }
}
@media(min-width: 769px) {
    .loguin_main-form{
        font-size: 20px;
    }
    .loguin_main-form input{
        height: 40px;
    }
    .loguin_main-form-enviar button{
        padding: 6px 60px;
        height: 40px;
        font-size: 20px;
    }  
}