.register{
    font-family: var(--tipografia);
}
.register_main{
    background-color: var(--grisClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register_main-form{
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
    margin: 20px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    gap: 1em;
}
.register_main-form label{
    width: 46%;
}
.register_main-form input{
    border: 2px solid var(--celeste);
    border-radius: 10px;
    height: 28px;
    background-color: var(--grisClaro);
    width: 100%;
}
.register_main-form input:hover{
    border: 2px solid var(--amarillo);
    justify-content: center;
}
.form_perfil_usuario{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form_categorias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.register_main-form-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}
.register_main-form-enviar button{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 6px;
    border: solid 2px var(--verde);
    border-radius:10px;
    transition: all 2s ease;
}
.register_main-form-enviar button:hover{
    background-color: var(--verde);
}
.register_main-form-borrar button{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 6px;
    border: solid 2px var(--azul);
    border-radius:10px;
    transition: all 1.5s ease;
}
.register_main-form-borrar button:hover{
    background-color: var(--celeste);
}
@media(min-width: 610px) {
    .register_main-form{
        margin: 30px ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 5%;
        
    }
    .register_main-form input{
        width: 50%;
    }
    .register_main-form label{       
        text-align: center;
    }
    .register_main-form h2{
        width: 100%;
    }
    .form_categorias{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .form_categorias label{
        width: 20%;
    }
    .form_categorias input{
        width: 20%;
    }
    .register_main-form-enviar button{
        padding: 6px 30px;
    }
    .register_main-form-borrar button{      
        padding: 6px 30px;
    }
}
@media(min-width: 769px) {
    .register_main{
      align-items: center;  
    }
    .register_main-form{
        width: 80%;
    }
    .register_main-form{
        justify-content: space-around;
    }
    .register_main-form label{
        width: 25%;
        text-align: center;
    }
    .register_main-form input{
        width: 52%;
    }
    .register_main-form h2{
        text-align: center;
    }
    .form_perfil_usuario{
        justify-content: center;
        align-items: center;
    }
    .form_perfil_usuario label{
        width: 15%;
    }
    .form_perfil_usuario input{
        width: 15%;
    }
    .form_categorias{
        justify-content: flex-start;
    }
    .form_categorias label{
        width: 11%;
    }
    .form_categorias input{
        width: 10%;
    }
    .register_main-form-enviar button{
        padding: 6px 50px;
    }
    .register_main-form-borrar button{      
        padding: 6px 50px;
    }
    }